<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">


    <a href="" class="navbar-brand" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Spotify_icon.svg/1982px-Spotify_icon.svg.png" %></a>

    <% if user_signed_in? %>
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to "Artists", users_path, class: "nav-link navbar-btn" %>
        </li>

        <li class="nav-item">
          <%= link_to "Playlists", playlists_path, class: "nav-link navbar-btn" %>
        </li>

      </ul>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to "Feed", feed_path, class: "nav-link navbar-btn" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <% if current_user.pfp %>
              <%= image_tag "#{current_user.pfp}", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false%>
            <% else %>
              <%= image_tag "https://i.scdn.co/image/ab6761610000e5eb58efbed422ab46484466822b", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Action", "#", class: "dropdown-item" %>
                <%= link_to "Another action", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link navbar-btn" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
