<div id="playlist_new">

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create Your Paylist</h1>
        </div>
        <% if user_signed_in? %>
          <%= simple_form_for @playlist do |f| %>
            <div class="modal-body">

                  <%= f.error_notification %>
                  <%= f.input :name,
                              required: true,
                              autofocus: true,
                              :placeholder => 'Title of your amazing playlist' %>

                  <%= f.input :photo,
                              required: true,
                              as: :file,
                              :placeholder => 'a Cover for your amazing playlist'  %>
            </div>
            <div class="modal-footer">
              <button type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
              <%= f.button :submit, value: 'Save', class: "save-btn" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
