<div id="sidebar">
  <div class="offcanvas offcanvas-start text-bg-dark" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <%= link_to root_path, class:"nav-link dashboard" do   %>
              <i class="fa-solid fa-house-user"></i>
              Home
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to root_path, class:"nav-link dashboard" do   %>
              <i class="fa-solid fa-magnifying-glass"></i>
              Search
          <% end %>
        </li>

      <ul>

    </div>

    <div class="offcanvas-libray">
      <div class="row">
          <div class="col">
            <h2>
            <i class="fa-regular fa-bookmark"></i>
            Library
            </h2>
          </div>
          <div class="col d-flex flex-row-reverse">
            <h2 class="p-2 plus">
              <i class="fa-solid fa-plus" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button"></i>
            </h2>
          </div>
      </div>
    </div>

    <div class="offcanvas-body">
      <% if user_signed_in? %>
        <% if @playlists.empty? %>
            <div class="empty-state">
              <i class="fa-solid fa-compact-disc icon"></i>
              <p>  Start by creating your Playlists </p>

              <button type="button" class="side-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Create a Playlist
              </button>
            </div>
          <% else %>
            <% @playlists.each do |playlist|   %>
              <%= link_to playlist_path(playlist) do %>
                <div class="card-playlist">
                  <img src="<%= playlist.photo.url %>" />
                  <div class="card-product-infos">
                    <h2><%= playlist.name %></h2>
                  </div>
                </div>
              <% end %>
                <hr>
            <% end %>
        <% end %>
      <% else %>
        <div class="empty-state">
          <i class="fa-solid fa-user-plus"></i>
          <p>  Start by Logging in your account </p>

          <%= link_to "Log In", new_user_session_path, class: "side-btn" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
