<div id="edit">
  <div class="container">
    <h2>Update details of <strong> <%= @song.title %> </strong>:</h2>
    <div class="form">
      <div class="container cover">
        <img src="<%= @song.cover %>" >

        <audio controls class="player">
          <source src="<%= @song.mp3.url %>">
        </audio>
      </div>


      <div class="container create-form">
        <%= simple_form_for @song do |f| %>
          <%= f.error_notification %>
          <%= f.input :title, :label => 'Song Title'%>
          <%= f.input :cover, :label => 'Cover Art'%>
          <%= f.input :mp3, :label => 'Song File', as: :file  %>


          <div class="form-btn">
            <%= f.button :submit, value: 'Save', class: "form-submit"%>

            <%= link_to "Delete", song_path(@song), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn form-delete"%>
          </div>
        <% end %>

      </div>

    </div>
  </div>

  <div class="container">
    <h2>Analytics:</h2>
    <div class="analytics">
      <div class="select">
        <i class="fa-solid fa-music"></i>
        <h2>Streams</h2>
        <h3> <strong> XXX </strong> </h3>
        <p> <strong> XXX </strong> in the Past Week </p>
      </div>

      <div class="center">
        <i class="fa-solid fa-list-ol"></i>
        <h2>In the Top</h2>
        <h3> <strong> XXX </strong> </h3>
        <p> tracks of the month </p>
      </div>

      <div class="select">
        <i class="fa-solid fa-play"></i>
        <h2>Streams</h2>
        <h3> <strong> XXX </strong> </h3>
        <p> <strong> XXX </strong> in the Past Week </p>
      </div>
    </div>
  </div>
</div>
