<div id="dashboard">
  <div class="banner position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @user.pfp %>);">
    <div class="container">
      <h1>
        <i class="fa-solid fa-pen-to-square pen" data-bs-toggle="modal" data-bs-target="#user-edit"></i>
        <%= @user.username %>
      </h1>
    </div>
  </div>


  <div class="container">

    <h2>Release your next big hit:</h2>
    <div class="form">
      <div class="container cover">
        <img src="<%= @user.pfp %>" >
      </div>


      <div class="container create-form">
        <%= simple_form_for @song_new do |f| %>
          <%= f.error_notification %>
          <%= f.input :title, :label => 'Song Title', required: true%>
          <%= f.input :cover, :label => 'Cover Art', required: true%>
          <%= f.input :mp3, :label => 'Song File',required: true, as: :file  %>
        <div class="form-btn">
           <%= f.button :submit, value: 'Save', class: "form-submit", type: "button" %>
        </div>
        <% end %>
      </div>

        <hr>
        <hr>

    </div>

    <h2>Analytics:</h2>

    <div class="analytics">
      <div class="select">
        <i class="fa-solid fa-user"></i>
        <h2>Followers</h2>
        <h3> <strong> XXX </strong> </h3>
        <p> <strong> XXX </strong> in the Past Week </p>
      </div>

      <div class="center">
        <i class="fa-solid fa-chart-simple"></i>
        <h2>Top Track</h2>
        <h3> in the past week</h3p>
        <div class="card-song" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.volvocars.com/images/support/img05d9160a2d5e427dc0a801525d71e1f9_1_--_--_VOICEpnghigh.png)">
          Song Title
        </div>
      </div>

      <div class="select">
        <i class="fa-solid fa-music"></i>
        <h2>Streams</h2>
        <h3> <strong> XXX </strong> </h3>
        <p> <strong> XXX </strong> in the Past Week </p>
      </div>
    </div>

    <h2>Manage Your Discography:</h2>

    <div class="grids">
        <ul>
            <% @songs.each do |song| %>
              <hr>

                <li>
                  <div class="dropdown">
                    <div class="card-playlist" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src= "<%= song.cover %>"/>
                      <div class="card-playlist-infos">
                        <h2> <%= song.title %> </h2>
                      </div>
                    </div>
                    <ul class="dropdown-menu dropdown-menu-dark">
                      <li><a class="dropdown-item" href="#">Analytics</a></li>
                      <li><a class="dropdown-item" href="#">Edit Details</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Delete</a></li>
                    </ul>
                  </div>
                </li>
            <% end %>
        </ul>
    </div>

    <h2>Manage Your Playlists:</h2>

    <div class="grids">
          <ul>
            <li>
              <div class="card-playlist">
                <img src="https://upload.wikimedia.org/wikipedia/en/5/56/Joji_-_Smithereens.png" />
                <div class="card-playlist-infos">
                  <h2>SMITHEREENS</h2>
                </div>
              </div>
            </li>

              <hr>

            <li>
              <div class="card-playlist">
                <img src="https://i.scdn.co/image/ab67616d0000b2736fbac72609eca05f5d300c9f" />
                <div class="card-playlist-infos">
                  <h2>Wake up & its Over</h2>
                </div>
              </div>
            </li>

              <hr>

            <li>
              <div class="card-playlist">
                <img src="https://media.mmorpg.com/images/heroes/news/52723.jpg"/>
                <div class="card-playlist-infos">
                  <h2>Radical Summer</h2>
                </div>
              </div>
            </li>
          </ul>
    </div>
  </div>
</div>
