<div id="playlist-show">
  <% order1 = 0 %>
  <% order2 = 0 %>
  <div class="banner container">
    <div class="card-product">
      <img src="<%= @playlist_show.photo.url %>" />
      <div class="card-product-infos">
        <h3> PUBLIC PLAYLIST </h3>
        <h2><%= @playlist_show.name %></h2>
        <p>
          <img class="avatar" alt="avatar" src="<%= @playlist_show.user.pfp %>" />
          <%= @playlist_show.user.username %>, <strong> XXX songs</strong>
        </p>
      </div>
    </div>
  </div>

  <div class="table-body container">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Artist</th>
          <th scope="col"><i class="fa-solid fa-clock"></i></th>
          <th scope="col">Date added</th>
        </tr>

        <tbody>
          <tr>
            <th scope="row"><%= order1 += 1 %></th>
            <td>Song Title</td>
            <td><%= link_to "Artist name", "#", class: "link" %></td>
            <td>00:00 </td>
            <td>00 days Ago</td>
          </tr>
        </tbody>

      </thead>
    </table>
  </div>

    <hr>

  <div class="table-body container">
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Artist</th>
          <th scope="col"><i class="fa-solid fa-clock"></th>
          <th scope="col">Add to playlist</i></th>
        </tr>

        <tbody>


          <% @songs.each do |song| %>
            <tr>
              <th scope="row"><%= order2 += 1 %></th>
              <td><%= song.title %></td>
              <td><%= link_to "#{song.user.username}" , user_path(song.user), class: "link"%></td>
              <td>00:00</td>
              <td><%= link_to "Add", "#", class: "btn" %></td></td>
            </tr>
          <% end %>
        </tbody>

      </thead>
    </table>
  </div>
</div>
